.container {
    width: 100%;
}

.nav {
    display: flex;
    margin: 12px 0px;
}

.nav-item {
    margin: auto 0px;
    padding: 0px 15px;
}

.title {
    font-family: "Myriad Pro", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1.294rem;
    color: #08006f;
}

.search-box {
    min-width: 360px;
    border: none;
}

.search-box {
    height: 38px;
}

.spacer {
    margin-right: auto;
}

ul {
    padding: 0;
    list-style: none;
}

.portrait {
    padding-right: 15px;
}