html {
    font-size: 17px;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    margin: 40px 100px;
}

.wrapper {
    margin: 0px 100px;
}

input[type=text] {
    box-sizing: border-box;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 300;
    color: #afafaf;
    background-color: #f9f9f9;
    background-image: url('./img/Icons/16x16/Search.png');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 15px;
    padding-left: 40px;
    border-radius: 3px;
}

.post-view {
    display: flex;
    align-items: flex-end;
}

.user {
    display: flex;
    align-items: center;
}

.user-name {
    font-size: 1.059rem;
    color: black;
}

.time-ago {
    font-size: 1.059rem;
    color: #747574;
}

.user-portrait {
    padding-right: 15px;
}

.comment{
    font-size: 2.118rem;
    padding: 20px 0 15px;
}

.post-image{
    max-width: 100%;
}