html {
  box-sizing: border-box;
  font-size: 10px;
  color: #ddd;
}

body,
ul,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

p {
  margin-top: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background-image: radial-gradient(circle at 0% 0%, #373f52, #252336 51%, #1d1e26);
}

.spacer {
  flex-grow: 1;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  max-width: 1600px;
  padding: 0 1.5rem;
  margin: 0 auto;
}

input[type=text],
textarea {
  font-size: 1.8rem;
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 280px;
  max-height: 400px;
  margin: 0 auto;
  border-radius: 2px;
  padding: 1.4rem 2rem 1.5rem;
  border-style: none;
  background: rgba(57, 63, 84, 0.2);
  outline: none;
  color: #ddd;
  transition: font-size 1.0s;
  text-align: center;
  resize: none;
}

input:focus,
textarea:focus {
  background: rgba(57, 63, 84, 0.8);
  flex-grow: 1;
  color: #7881a1;
  font-size: 2.5rem;
  line-height: 2.5rem;
  vertical-align: middle;
  transition: font-size 1.0s;
}

@media screen and (max-width:340px){
  input[type=text],
  textarea {
    max-width: 230px;
  }
}

@media screen and (min-width:699px){
  input[type=text],
  textarea {
    max-width: 430px;
  }
}
