.footer-header,
.footer-subheading {
    color: black;
    font-weight: 200;
    font-family: "Myriad Pro", Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.footer-subheading {
    color: #757575;
}

.site-map,
.copyright {
    display: flex;
}

.copyright li {
    align-items: center;
}

.site-map li {
    margin-right: auto;
}

.site-map li ul li {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #757575;
    line-height: 2rem;
    padding-right: auto;
}

.site-map li ul li:first-child {
    color: black;
}

.site-map li:last-child {
    margin-right: 0;
}

.social-icons {
    margin-left: 13px;
    color: #08006f;
}

.copyright .date {
    font-size: .9rem;
    color: #757575;
    margin: auto;
    margin-left: 15px;
}

.email-box {
    min-width: 280px;
    border: none;
    height: 46px;
    margin: 10px 0;
}

/* @media styles */

@media screen and (max-width: 920px) {
    .site-map {
        flex-direction: column;
        margin: 20px 0;
    }
    .site-map li ul li {
        display: inline;
        padding-right: 10px;
        line-height: 1.4rem;
    }
    .site-map li ul {
        margin-bottom: 10px;
    }
    .wrapper{
        margin: 20px 10%;
    }
    .email-box{
        width: 100%;
    }
}

@media screen and (max-width:720px) {
    .spacer {
        margin: 0;
    }
    .copyright,
    .copyright .date {
        flex-direction: column;
        margin: 20px 0;
    }
    .copyright {
        align-items: center;
    }
    .social-icons {
        margin: 10px 13px;
    }
}